body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url('../img/backgroundheader.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 12rem;
}

h1 {
    color: #686868;
    padding-top: 15rem;
}

span {
    color:#292929;
}

header h2 {
    color: #B2B2B2;
}

header hr {
    border: none;
    height: 0.1rem;
    background-color: #333;

}

#about hr {
    border: none;
    height: 0.1rem;
    background-color: #333;
    margin-bottom: 4rem; 
}

.description h3 {
    font-size: 1.2rem;
}

.carousel-indicators {
    top: 100px;
}

.icons a {
    color: #ffffff;
    text-decoration: none;
  }
#work hr {
    border: none;
    height: 0.1rem;
    background-color: #ffffff;
    margin-bottom: 4rem; 
}  

.contactSection {
    margin-bottom: 7rem;
}  